@inherits LayoutComponentBase

 
    <header>
       <img src="/logoExample.png" alt="logo">

    </header>
    <div class="divNavAndMain">
    
    <div>
        <NavMenu/>
        </div>
        


         
    <div class="container" id="mainContent">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>

</div>
     
    <footer class="footer">
        <div class="container">
           Av Oskar Sundström - Kontakta mig via e-post:- <a href="mailto:ossu2300@student.miun.se">ossu2300@student.miun.se</a>
        </div>
    </footer>



    