<nav class="navFull">
                    <ul class="navUl">
                         <li class="navLi">
                            <NavLink href="/" Match="NavLinkMatch.All">Hem</NavLink>
                        </li>
                        <li class="navLi">
                            <NavLink href="convert"> Konvertera </NavLink>
                        </li>
                        <li class="navLi">
                            <NavLink href="json"> JSON </NavLink>
                        </li>
                    </ul>
        </nav>