@page "/convert"
 <!--Hämtar komponenten-->
@using moment12.Components

<PageTitle>Konverterare</PageTitle>

<section>
    <h1>DT191G - Moment 1.2</h1>
    <hr>
    <div class="divCovert">
    <h3>Konverterare</h3>
    <div>
    <!--Använder komponenten-->
        <ConverterComp/>
    </div>
    </div>
</section>