@page "/"

<PageTitle>Hem</PageTitle>

<section>
    <h1>DT191G - Moment 1.2</h1>
    <hr>
    <div class="shortInfo">
    <h3>Kort om uppgiften</h3>
    <p>Uppgiften går ut på att skapa en enklare hemsida med hjälp av blazor WebAssembly. 
    Webbplasten ska ha 3 sidor , en startsida, en sida för att konvertera olika mått och en sida som använder HttpClient för att läsa in data. </p>
    </div>
</section>
